input.smallInput {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 5px;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  /* .chakra-input__group.css-1y0e7gb {
    width: 60px;
  } */

  .chakra-input__group.smallInput.css-1y0e7gb {
    width: 60px;
  }

  .chakra-input__group.largeInput.css-1y0e7gb {
    width: 80px;
  }

  input.largeInput {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 5px;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .chakra-form-control.switchContainer.css-1kxonj9 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .chakra-form__label.switchLabel.css-g6pte {
    margin: 0px;
    margin-right: 10px;
    color: rgb(187, 13, 13);
  }