.mainContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.mainContent {
  width: 60%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 110%;
}

.title {
  color: rgb(187, 13, 13);
}

.slogan {
  color: rgb(216, 49, 49);
  margin-top: 20px;
}

/* .calculationContainer {
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
  height: 50px;
  border-top: 3px solid #fd0707;
  border-left: 3px solid #fd0707;
  border-right: 3px solid #fd0707;
} */

.calculationContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  height: 100%;
  /* border-top: 3px solid #fd0707;
  border-left: 3px solid #fd0707;
  border-right: 3px solid #fd0707; */
  box-shadow: 
    0 -3px 0 0 #fd0707, /* Top border */
    -3px 0 0 0 #fd0707, /* Left border */
    3px 0 0 0 #fd0707; /* Right border */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.centerContainer {
  position: relative; /* Needed for absolute positioning of pseudo-elements */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 3px solid #fd0707;
  border-right: 3px solid #fd0707;
}

.leftContainer, .rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;
}

/* Hover effect for leftContainer */
.leftContainer:hover {
  background-color: rgb(194, 191, 191);
  border-top-left-radius: 15px; /* Apply radius to the top-left corner */
  cursor: pointer;
}

/* Hover effect for centerContainer */
.centerContainer:hover {
  background-color: rgb(194, 191, 191);
  cursor: pointer;
}

/* Hover effect for rightContainer */
.rightContainer:hover {
  background-color: rgb(194, 191, 191);
  border-top-right-radius: 15px; /* Apply radius to the top-right corner */
  cursor: pointer;
}

.leftContainer.selected, .centerContainer.selected, .rightContainer.selected {
  background-color: gainsboro;
}

.leftContainer.selected {
  border-top-left-radius: 15px;
}

.rightContainer.selected {
  border-top-right-radius: 15px;
}

.rightContainer {
  z-index: 0;
}

.centerContainer {
  z-index: 3;
}

.tabHeader {
  font-size: large;
}

.calculationContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: gainsboro;
}

@media (max-width: 500px ) {
  
  .mainContainer {
    align-items: start;
  }

  .mainContent {
    margin-top: 20px;
    width: 100%;
  }

  .calculationContainer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .rightContainer:hover {
    background-color: rgb(194, 191, 191);
    border-top-right-radius: 0px;
    cursor: pointer;
  }

  .leftContainer:hover {
    background-color: rgb(194, 191, 191);
    border-top-left-radius: 0px;
    cursor: pointer;
  }

  .calculationContent {
    padding: 30px;
  }

  .leftContainer.selected, .centerContainer.selected, .rightContainer.selected {
    border-top-left-radius: 0%;
    
  }
}
