.mainContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.mainContent {
  width: 60%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 110%;
}

.title {
  color: rgb(187, 13, 13);
}

.subTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(187, 13, 13);
  width: 130px;
}

.slogan {
  color: rgb(216, 49, 49);
  margin-top: 20px;
}

.calculationContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 800px;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  height: 3em;
  box-shadow: 
    0 -3px 0 0 #fd0707, /* Top border */
    -3px 0 0 0 #fd0707, /* Left border */
    3px 0 0 0 #fd0707; /* Right border */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.centerContainer {
  position: relative; /* Needed for absolute positioning of pseudo-elements */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 3px solid #fd0707;
  border-right: 3px solid #fd0707;
}

.leftContainer, .rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;
}

/* Hover effect for leftContainer */
.leftContainer:hover {
  background-color: rgb(194, 191, 191);
  border-top-left-radius: 15px; /* Apply radius to the top-left corner */
  cursor: pointer;
}

/* Hover effect for centerContainer */
.centerContainer:hover {
  background-color: rgb(194, 191, 191);
  cursor: pointer;
}

/* Hover effect for rightContainer */
.rightContainer:hover {
  background-color: rgb(194, 191, 191);
  border-top-right-radius: 15px; /* Apply radius to the top-right corner */
  cursor: pointer;
}

.leftContainer.selected, .centerContainer.selected, .rightContainer.selected {
  background-color: gainsboro;
}

.leftContainer.selected {
  border-top-left-radius: 15px;
}

.rightContainer.selected {
  border-top-right-radius: 15px;
}

.rightContainer {
  z-index: 0;
}

.centerContainer {
  z-index: 3;
}

.tabHeader {
  font-size: large;
}

.calculationContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding-bottom: 50px;
  padding-left: 15em;
  padding-right: 15em;
  background-color: gainsboro;
}

.timingsContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  font-size: 20px;
  padding-top: 20px;
}

.inputField {
  background-color: white;
}

.tabH1 {
  font-size: large;
  font-weight: bold;
  color: rgb(187, 13, 13);
  padding: 8px 0px;
}

.radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.metricContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.metric {

  display: flex;

}

.calculateButton {
  margin-top: 20px;
}

.resultContainer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.multiTimeContainer {
  display: flex;
  flex-direction: column;
}

.resultText {
  padding-right: 8px;
  color: rgb(216, 49, 49);
  font-weight: bold;
}

.inContainerTitle {
  color: rgb(187, 13, 13);
  font-weight: bold;
  padding: 8px 0px;
  padding-right: 8px;
  font-size: medium;
}

.inContainerText {
  font-size: medium;
  padding: 8px 0px;
  padding-left: 10px;
  color: rgb(187, 13, 13);
}

.chakra-select__wrapper.css-42b2qy {
  width: 60px;
}

select.inputField {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 5px;
  width: 100%;
  height: 40px;
}

.explanation {
  margin-bottom: 30px;
}

@media (max-width: 500px ) {
  
  .mainContainer {
    align-items: start;
  }

  .mainContent {
    margin-top: 20px;
    width: 100%;
  }

  .calculationContainer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .rightContainer:hover {
    background-color: rgb(194, 191, 191);
    border-top-right-radius: 0px;
    cursor: pointer;
  }

  .leftContainer:hover {
    background-color: rgb(194, 191, 191);
    border-top-left-radius: 0px;
    cursor: pointer;
  }

  .calculationContent {
    padding: 60px;
  }

  .leftContainer.selected, .centerContainer.selected, .rightContainer.selected {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%; 
  }

  .timeContainer {
    justify-content: space-between;
  }

  .explanation {
    margin-bottom: 30px;
  }

}

/* TODO Add tablet size support */